{% include top.html %}
<body>
  {% include facebook.html %}
  <div class="wrapper">
    {% include header.html %}

    <section>
      <h1>{{ page.title }}</h1>
      {{ content }}
      <br/>
      {% include ad_block.html %}
      <hr/>
      <h3>Baixe nosso aplicativo no Google Play:</h3>
      <a href="https://play.google.com/store/apps/details?id=com.luisramalho.paralisiafacial">
        <img alt="Get it on Google Play"
             src="https://developer.android.com/images/brand/pt-br_generic_rgb_wo_60.png" />
      </a>
      <hr/>
      {% include addthis.html %}
      <p><small>{{ page.date | date: "%d %B %Y" }}</small></p>
      {% include disqus.html %}
    </section>
  </div>
  <script src="javascripts/scale.fix.js"></script>
</body>
</html>
